.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -20px; }
  .products .product {
    flex: 1 0 450px;
    margin-left: 20px;
    margin-top: 20px; }

@media (min-width: 1024px) and (min-width: 940px) {
  .products .product {
    max-width: calc(50% - 20px); } }

@media (min-width: 1024px) and (min-width: 1410px) {
  .products .product {
    max-width: calc(33.33333% - 20px); } }

@media (min-width: 1024px) and (min-width: 1880px) {
  .products .product {
    max-width: calc(25% - 20px); } }

@media (min-width: 1024px) and (min-width: 2350px) {
  .products .product {
    max-width: calc(20% - 20px); } }

@media (min-width: 1024px) and (min-width: 2250px) {
  .products .product {
    min-width: calc(20% - 20px); } }

.products .product {
  box-sizing: border-box; }

.flex {
  display: flex; }

.row {
  flex-direction: row; }

.column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

header {
  background-color: #ffcd00; }
  header .container-header {
    padding: 20px;
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      header .container-header {
        max-width: 100%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      header .container-header {
        max-width: 85vw; } }
    header .container-header .carrinho {
      position: relative;
      text-decoration: none;
      display: inline-block;
      width: 35px;
      height: 35px;
      background-image: url("/public/images/menu.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center; }
      header .container-header .carrinho .itens-carrinho {
        position: absolute;
        left: -12px;
        bottom: -6px;
        background-color: #d62a33;
        color: #fff;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 100px;
        display: inline-block; }

@media (min-width: 1024px) {
  .products {
    display: flex;
    flex-wrap: wrap; } }

.products .product {
  background-color: #fff;
  padding: 16px;
  display: flex; }
  @media (min-width: 1024px) {
    .products .product {
      flex-direction: column;
      justify-content: space-between; } }
  .products .product .gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      .products .product .gallery {
        flex-direction: row; } }
    .products .product .gallery .item {
      border: 2px solid #f2f2f2;
      border-radius: 5px;
      width: 50px;
      height: 50px;
      padding: 5px;
      margin-bottom: 8px; }
      .products .product .gallery .item:hover {
        cursor: pointer; }
      .products .product .gallery .item img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
      .products .product .gallery .item.selected {
        border-color: #ffcd00; }
  .products .product .large-image {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .products .product .large-image img {
      max-width: 95%;
      max-height: 423px; }
      @media (min-width: 1024px) {
        .products .product .large-image img {
          max-width: 75%; } }
  .products .product .info-product {
    min-width: 50%;
    max-width: 50%;
    display: inline-block;
    color: #444444; }
    @media (min-width: 1024px) {
      .products .product .info-product {
        min-width: 100%; } }
    .products .product .info-product .name-product {
      border-bottom: 1px solid #e6e6e6; }
      .products .product .info-product .name-product h4 {
        font-weight: 500; }
        @media (min-width: 1024px) {
          .products .product .info-product .name-product h4 {
            font-size: 1.3rem; } }
    .products .product .info-product .price-container {
      padding: 20px 0;
      font-weight: 500; }
      .products .product .info-product .price-container .price {
        padding: 30px 0;
        position: relative; }
        .products .product .info-product .price-container .price .best-price {
          background-color: #1990df;
          color: #fff;
          padding: 5px 10px;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 3px;
          font-size: .7rem;
          display: block;
          min-width: 125px;
          max-width: 125px;
          text-align: center; }
          .products .product .info-product .price-container .price .best-price:before {
            content: "";
            position: absolute;
            top: 0px;
            right: -11px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-right: 13px solid #198fe0;
            transform: rotate(180deg);
            border-radius: 100px; }
        .products .product .info-product .price-container .price .installments {
          color: #22b14c;
          font-weight: 600;
          font-size: 1.6rem; }
        .products .product .info-product .price-container .price .value {
          color: #22b14c;
          font-weight: 600;
          font-size: 2rem; }
        .products .product .info-product .price-container .price .full-price {
          color: #757575;
          margin-top: 5px; }
          .products .product .info-product .price-container .price .full-price .value {
            font-size: 1rem; }
        .products .product .info-product .price-container .price button {
          border: 1px solid transparent;
          color: #fff;
          background-color: #22b14c;
          padding: 10px 20px;
          position: relative;
          top: -5px; }

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

body {
  font-size: 1rem;
  color: #444444;
  min-height: 100%;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0; }

main {
  padding: 20px 10px;
  max-width: 70vw;
  margin: auto; }
  @media (max-width: 768px) {
    main {
      max-width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    main {
      max-width: 85vw; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 2.35em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

/*# sourceMappingURL=maps/main.css.map */
