header {
    background-color: $primary;
    position: fixed;
    width: 100%;
    z-index: 10;

    .container-header {
        position: relative;
        padding: 20px;
        max-width: 70vw;
        // height: 207px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media #{$mobile} {
            max-width: 100%;
        }
        @media #{$tablet} {
            max-width: 85vw;
        }

        .carrinho {
            // border: 1px solid red;
            position: relative;
            text-decoration: none;
            display: inline-block;
            width: 35px;
            height: 35px;
            background-image: url("/images/menu.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;


            .itens-carrinho {
                $space-definition: 25px;
                height: 1px;
                width: 1px;
                opacity: 0;
                transition: all 0.25s ease;

                &.show {
                    opacity: 1;
                    height: $space-definition;
                    width: $space-definition;
                }

                position: absolute;
                left: -12px;
                bottom: -6px;
                background-color: #d62a33;
                color: #fff;
                width: $space-definition;
                height: $space-definition;
                line-height: $space-definition;
                text-align: center;
                border-radius: 100px;
                // font-size: .1rem;
                display: inline-block;
            }
        }
    }
}
@keyframes to-show {
    0% {
        width: 1px;
        height: 1px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
}